In [56]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [57]:
pd.set_option("display.max_columns", None) # unlimited columns

In [58]:
submission = pd.read_csv("sample_submission.csv")
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
original = pd.read_csv("original.csv")

In [59]:
train['Dataset'] = "train"
test['Dataset'] = "test"
original['Dataset'] = "original"

original.rename(columns={"Gender": "Sex"}, inplace=True) # rename Gender to Sex

In [60]:
submission.head()

       id  Calories
0  750000    88.283
1  750001    88.283
2  750002    88.283
3  750003    88.283
4  750004    88.283

In [61]:
train.head()

,id,Sex,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories,Dataset
0,0,male,36,189.0,82.0,26.0,101.0,41.0,150.0,train
1,1,female,64,163.0,60.0,8.0,85.0,39.7,34.0,train
2,2,female,51,161.0,64.0,7.0,84.0,39.8,29.0,train
3,3,male,20,192.0,90.0,25.0,105.0,40.7,140.0,train
4,4,female,38,166.0,61.0,25.0,102.0,40.6,146.0,train

In [62]:
test.head()

,id,Sex,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Dataset
0,750000,male,45,177.0,81.0,7.0,87.0,39.8,test
1,750001,male,26,200.0,97.0,20.0,101.0,40.5,test
2,750002,female,29,188.0,85.0,16.0,102.0,40.4,test
3,750003,female,39,172.0,73.0,20.0,107.0,40.6,test
4,750004,female,30,173.0,67.0,16.0,94.0,40.5,test

In [63]:
original.head()

,User_ID,Sex,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories,Dataset
0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0,original
1,14861698,female,20,166.0,60.0,14.0,94.0,40.3,66.0,original
2,11179863,male,69,179.0,79.0,5.0,88.0,38.7,26.0,original
3,16180408,female,34,179.0,71.0,13.0,100.0,40.5,71.0,original
4,17771927,female,27,154.0,58.0,10.0,81.0,39.8,35.0,original

In [64]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          750000 non-null  int64
 1   Sex         750000 non-null  object
 2   Age         750000 non-null  int64
 3   Height      750000 non-null  float64
 4   Weight      750000 non-null  float64
 5   Duration    750000 non-null  float64
 6   Heart_Rate  750000 non-null  float64
 7   Body_Temp   750000 non-null  float64
 8   Calories    750000 non-null  float64
 9   Dataset     750000 non-null  object
dtypes: float64(6), int64(2), object(2)
memory usage: 57.2+ MB

In [65]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          250000 non-null  int64
 1   Sex         250000 non-null  object
 2   Age         250000 non-null  int64
 3   Height      250000 non-null  float64
 4   Weight      250000 non-null  float64
 5   Duration    250000 non-null  float64
 6   Heart_Rate  250000 non-null  float64
 7   Body_Temp   250000 non-null  float64
 8   Dataset     250000 non-null  object
dtypes: float64(5), int64(2), object(2)
memory usage: 17.2+ MB

In [66]:
original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   User_ID     15000 non-null  int64
 1   Sex         15000 non-null  object
 2   Age         15000 non-null  int64
 3   Height      15000 non-null  float64
 4   Weight      15000 non-null  float64
 5   Duration    15000 non-null  float64
 6   Heart_Rate  15000 non-null  float64
 7   Body_Temp   15000 non-null  float64
 8   Calories    15000 non-null  float64
 9   Dataset     15000 non-null  object
dtypes: float64(6), int64(2), object(2)
memory usage: 1.1+ MB

Leave no stone unturned